extends ~Layout/main-layout.pug

block variables
  include ~Blocks/icon-text-list/icon-text-list.pug
  include ~Blocks/review/review.pug
  include ~Blocks/bullet-list/bullet-list.pug
  include ~Blocks/reservation/reservation.pug
  include ~Blocks/pie-chart/pie-chart.pug

  - data = require("./room-details.json");

  - const pageTitle = "Room-details";
  - const classMain = "room-details";

block content
  .room-details__img-wrapper
    img.room-details__main-img(src='img/room-details-1.png')
    .room-details__col-img
      img.room-details__img(src='img/room-details-2.png')
      img.room-details__img(src='img/room-details-3.png')
  .room-details__content-wrapper
    +page({})
      +center-block({})
        .room-details__content
          .room-details__col-8
            section.room-details__info
              h2.room-details__title= data.infoTitle
              +icon-text-list(data.iconTextList)
            section.room-details__diagram
              h2.room-details__title= data.diagramTitle
              .room-details__pie-chart
                +pie-chart(data.pieChart)
          section.room-details__details__reviews
            .room-details__title-wrapper
              h2.room-details__title= data.reviewsTitle
              p.room-details__text-review= data.reviewsText
            ul.room-details__items-review
              each item in data.reviewList
                li.room-details__review
                  +review(item)
          section.room-details__items-rule
            .room-details__rule
              h2.room-details__title-rule= data.titleRule
              +bullet-list(data.bulletList)
            .room-details__cancel
              h2.room-details__title-cancel= data.titleCancel
              p.room-details__text-cancel.room-details__text-cancel_small= data.textCancel
        .room-details__reservation
          +reservation(data.reservation)
