mixin button({ theme, size, state, themeHeader, isButtonLarge, link, text, isButton, type })
  - const themeClass = theme ? " button_" + theme : "";
  - const sizeClass = size ? " button_" + size : "";
  - const stateClass = state ? " button_" + state : "";
  - const themeHeaderClass = themeHeader ? " button_" + themeHeader : "";
  - type = type ? type : "";

  if (isButton)
    if (!isButtonLarge)
      button(
        class="button" + themeClass + sizeClass + stateClass + themeHeaderClass,
        href=link,
        type=type
      )= text
    else
      button(
        class="button button_large" + themeClass + sizeClass + stateClass + themeHeaderClass,
        href=link,
        type=type
      )= text
        i.button__icon arrow_forward
  else
    if (!isButtonLarge)
      a(class="button" + themeClass + sizeClass + stateClass + themeHeaderClass, href=link)= text
    else
      a(class="button button_large" + themeClass + sizeClass + stateClass + themeHeaderClass, href=link)= text
        i.button__icon arrow_forward
