mixin text-field({ state, size, themeIcon, id, stateMenu, text, textState, isDropdown, type, value, name, isDateRange, isDatepicker, placeholder, iconText, isDateStart, isDateEnd})
  - const inputStateClass = state ? "text-field__input_" + state + " " : "";
  - const inputOpenClass = stateMenu ? " text-field__input_open" : "";
  - const textFieldSizeClass = size ? "text-field_" + size : "";
  - const iconThemeClass = themeIcon ? "text-field__icon_" + themeIcon : "";
  - const dateTypeClass = isDateStart ? "js-text-field__datepicker-start" : isDateEnd ? "js-text-field__datepicker-end" : "";
  - id = id ? "text-field-" + id : "";

  div(class="text-field " + textFieldSizeClass)
    if (text)
      .text-field__wrapper-text
        label.text-field__label(for=id)= text
        if (textState)
          p.text-field__text-state= textState

    .text-field__input-wrapper
      if (isDropdown)
        input(
          class="js-text-field__input text-field__input text-field__input_dropdown" + inputStateClass + inputOpenClass,
          id=id,
          type=type,
          value=value,
          name=name,
          readonly
        )
      else if (isDatepicker)
        input(
          class="datepicker-here text-field__input " + inputStateClass,
          id=id,
          type=type,
          placeholder=placeholder,
          name=name,
          readonly
        )
      else if (isDateRange)
        input(
          class="datepicker-here js-text-field__date-range text-field__input " + inputStateClass + dateTypeClass,
          id=id,
          type=type,
          placeholder=placeholder,
          name=name,
          data-multiple-dates-separator=' - ',
          readonly
        )
      else
        input(
          class="text-field__input " + inputStateClass,
          id=id,
          type=type,
          placeholder=placeholder,
          value=value,
          name=name
        )

      if (iconText)
        button(class="text-field__icon " + iconThemeClass)= iconText
