mixin text-field(object)
    - var { state, size, className, classNameIcon } = object;
    - state = (state ? "text-field__input--" + state + " " : "");
    - size = (size ? "text-field--" + size : "");
    - className = (className ? "text-field__" + className : "");
    - classNameIcon = (classNameIcon ? "text-field__icon--" + classNameIcon : "");
    - var id = (object.tabindex ? "text-field-" + object.tabindex : "");
    - var myId = (object.myId ? " " + object.myId : "");
    - var borderRadius = (object.stateMenu ? " text-field__input--open" : "");

    div(class="text-field " + size)
        if(object.text)
            .text-field__wrapper-text
                label(class="text-field__label" for=id)=object.text
                if(object.textState)
                    p(class="text-field__text-state")=object.textState

        .text-field__input-wrapper
            if(object.isDropdown)
                input(class="text-field__input " + state + className + borderRadius id=id + myId type=object.type value=object.value name=object.name tabindex=object.tabindex readonly)
            else if (object.dateRange)
                input(class="datepicker-here text-field__input " + state + className id=id + myId type=object.type placeholder=object.placeholder name=object.name tabindex=object.tabindex data-range=true data-multiple-dates-separator=" - " readonly)
            else
                input(class="text-field__input " + state + className id=id + myId type=object.type placeholder=object.placeholder value=object.value name=object.name tabindex=object.tabindex)

            if(object.iconText)
                button(class="text-field__icon " + classNameIcon)=object.iconText