mixin text-field({ state, size, className, themeIcon, id, stateMenu, text, textState, isDropdown, type, value, name, isDateRange, placeholder, iconText })
  - const inputStateClass = state ? "text-field__input--" + state + " " : "";
  - const inputOpenClass = stateMenu ? " text-field__input--open" : "";
  - const textFieldSizeClass = size ? "text-field--" + size : "";
  - const textFieldJsClass = className ? "js-text-field__" + className : "";
  - const iconThemeClass = themeIcon ? "text-field__icon--" + themeIcon : "";
  - id = id ? "text-field-" + id : "";

  div(class="text-field " + textFieldSizeClass)
    if (text)
      .text-field__wrapper-text
        label.text-field__label(for=id)= text
        if (textState)
          p.text-field__text-state= textState

    .text-field__input-wrapper
      if (isDropdown)
        input(
          class="js-text-field__input text-field__input " + inputStateClass + textFieldJsClass + inputOpenClass,
          id=id,
          type=type,
          value=value,
          name=name,
          ,
          readonly
        )
      else if (isDateRange)
        input(
          class="datepicker-here text-field__input " + inputStateClass + textFieldJsClass,
          id=id,
          type=type,
          placeholder=placeholder,
          name=name,
          ,
          data-multiple-dates-separator=' - ',
          readonly
        )
      else
        input(
          class="text-field__input " + inputStateClass + textFieldJsClass,
          id=id,
          type=type,
          placeholder=placeholder,
          value=value,
          name=name
        )

      if (iconText)
        button(class="text-field__icon " + iconThemeClass)= iconText
