mixin text-field({ state, size, className, classNameIcon, tabindex, myId, stateMenu, text, textState, isDropdown, type, value, name, isDateRange, placeholder, iconText })
  - state = state ? "text-field__input--" + state + " " : "";
  - size = size ? "text-field--" + size : "";
  - className = className ? "js-text-field__" + className : "";
  - classNameIcon = classNameIcon ? "text-field__icon--" + classNameIcon : "";
  - const id = tabindex ? "text-field-" + tabindex : "";
  - myId = myId ? " " + myId : "";
  - const borderRadius = stateMenu ? " text-field__input--open" : "";

  div(class="text-field " + size)
    if (text)
      .text-field__wrapper-text
        label.text-field__label(for=id)= text
        if (textState)
          p.text-field__text-state= textState

    .text-field__input-wrapper
      if (isDropdown)
        input(
          class="js-text-field__input text-field__input " + state + className + borderRadius,
          id=id + myId,
          type=type,
          value=value,
          name=name,
          tabindex=tabindex,
          readonly
        )
      else if (isDateRange)
        input(
          class="datepicker-here text-field__input " + state + className,
          id=id + myId,
          type=type,
          placeholder=placeholder,
          name=name,
          tabindex=tabindex,
          data-multiple-dates-separator=' - ',
          readonly
        )
      else
        input(
          class="text-field__input " + state + className,
          id=id + myId,
          type=type,
          placeholder=placeholder,
          value=value,
          name=name,
          tabindex=tabindex
        )

      if (iconText)
        button(class="text-field__icon " + classNameIcon)= iconText
