mixin text-field({ state, size, themeIcon, id, isOpen, text, textState, type, value, name, placeholder, iconText, readonly, mask })
  -
    let textFieldClass = '';
    let inputClass = '';
    let iconClass = '';
    id = id ? 'text-field-' + id : '';

    if (['small'].includes(size)) textFieldClass +=' text-field_' + size;
    if (['active'].includes(state)) inputClass += ' text-field__input_' + state;
    if (['submit'].includes(themeIcon)) iconClass += ' text-field__icon_' + themeIcon;
    if (iconText) inputClass += ' text-field__input_icon';
    if (isOpen) inputClass += ' text-field__input_open';

  .text-field.js-text-field(class=textFieldClass)
    if (text)
      .text-field__wrapper-text
        label.text-field__label(for=id)= text
        if (textState)
          p.text-field__text-state= textState

    .text-field__input-wrapper
      input.text-field__input.js-text-field__input(
        class=inputClass,
        id=id,
        type=type,
        value=value,
        placeholder=placeholder,
        name=name,
        readonly=readonly,
        data-inputmask=mask,
        required
      )

      if (iconText)
        button.text-field__icon(class=iconClass)= iconText
