mixin pagination({ itemsOnPage, items, currentPage = 1, text })
  -
    const firstRange = itemsOnPage * (currentPage - 1) + 1;
    const lastRange = currentPage * itemsOnPage;
    const numberOfItems = items < 100 ? items : '100+';
    const fullText = `${firstRange} – ${lastRange} ${text[0]} ${numberOfItems} ${text[1]}`

  .pagination.js-pagination(
    data-items-on-page=itemsOnPage,
    data-items=items,
    data-current-page=currentPage
  )
    ul.pagination__pages.js-pagination__pages
    p.pagination__text= fullText
