mixin pagination({ itemsOnPage, items, currentPage = 1, text })
  -
    const firstItemsOnPage = itemsOnPage * (currentPage - 1) + 1;
    const lastItemsOnPage = currentPage * itemsOnPage;
    const moreItemsOnPage = items < 100 ? itemsNumber : '100+';
    const fullText = `${firstItemsOnPage} – ${lastItemsOnPage} ${text[0]} ${moreItemsOnPage} ${text[1]}`

  .pagination.js-pagination(
    data-items-on-page=itemsOnPage,
    data-items=items,
    data-current-page=currentPage
  )
    ul.pagination__pages.js-pagination__pages
    p.pagination__text= fullText
