mixin radio-buttons(object)
  .radio-buttons
    .radio-buttons__items
      each item in object.radioButtonsList
        .radio-buttons__item
          if (item.isChecked)
            input.radio-buttons__radio(
              id=item.value,
              type='radio',
              name=item.name,
              value=item.value,
              checked
            )
          else
            input.radio-buttons__radio(id=item.value, type='radio', name=item.name, value=item.value)
          label.radio-buttons__label(for=item.value)= item.text
