mixin radio-buttons(object)
    - var itemList = [{text: "Мужчина", value: "male", checked: "true"}, {text: "Женщина", value: "female"}];

    .radio-buttons
        .radio-buttons__items
            for item in itemList
                .radio-buttons__item
                    if(item.checked)
                        input(class="radio-buttons__radio" id=item.value type="radio" name="gender" value=item.value checked)
                        label(class="typo-body radio-buttons__label radio-buttons__label--active" for=item.value)=item.text
                    else
                        input(class="radio-buttons__radio" id=item.value type="radio" name="gender" value=item.value )
                        label(class="typo-body radio-buttons__label" for=item.value)=item.text