mixin radio-buttons({ radioButtonsList })
  .radio-buttons
    ul.radio-buttons__items
      each item in radioButtonsList
        - const { isChecked, value, name, text } = item;
        li.radio-buttons__item
          if (isChecked)
            input.radio-buttons__radio(id=value, type='radio', name=name, value=value, checked)
          else
            input.radio-buttons__radio(id=value, type='radio', name=name, value=value)
          label.radio-buttons__label(for=value)= text
