include ../text-field/text-field.pug

mixin date-picker({ isActive, isSmall, id, text, textState, type, name, isRange, placeholder, iconText, dateFormat, dateNavTitles = 'MM yyyy', isInline = false, selectedDate = [], buttons })
  -
    let datePickerClasses = '';
    let inputClasses = '';
    let calendarClasses = '';
    let datePickerType;

    if (isSmall) datePickerClasses +=' date-picker_size_small';
    if (isActive) inputClasses += ' date-picker__input_active';
    if (iconText) inputClasses += ' date-picker__input_icon';
    if(isRange) datePickerType = 'range';
    if(!isInline) calendarClasses += 'date-picker__calendar_hidden';
    if(isInline) calendarClasses += 'date-picker__calendar_inline';

  .date-picker.js-date-picker(
    class=datePickerClasses,
    data-type=datePickerType,
    data-date-format=dateFormat,
    data-date-nav-titles=dateNavTitles,
    data-inline=isInline.toString(),
    data-selected=selectedDate
  )
    if (isRange)
      .date-picker__wrapper-range 
        label.date-picker__label
          if (text)
            .date-picker__wrapper-text
              h3.date-picker__label= text[0]
              if (textState)
                p.date-picker__text-state= textState
          .date-picker__wrapper-input
            input.date-picker__input.js-date-picker__input.js-date-picker__input-start(
              id=id[0],
              class=inputClasses,
              type=type,
              placeholder=placeholder[0],
              name=name[0],
              readonly
            )
            if (iconText)
              button.date-picker__icon= iconText

        label.date-picker__label
          if (text)
            .date-picker__wrapper-text
              h3.date-picker__label= text[1]
              if (textState)
                p.date-picker__text-state= textState
          .date-picker__wrapper-input
            input.date-picker__input.js-date-picker__input.js-date-picker__input-end(
              id=id[1],
              class=inputClasses,
              type=type,
              placeholder=placeholder[1],
              name=name[1],
              readonly
            )
            if (iconText)
              button.date-picker__icon= iconText
    else if (!isInline)
      label.date-picker__label
        if (text)
          .date-picker__wrapper-text
            h3.date-picker__label= text
            if (textState)
              p.date-picker__text-state= textState
        .date-picker__wrapper-input
          input.date-picker__input.js-date-picker__input.js-date-picker__input-single(
            id=id,
            class=inputClasses,
            type=type,
            placeholder=placeholder,
            name=name,
            readonly
          )
          if (iconText)
            button.date-picker__icon= iconText

    .date-picker__calendar.js-date-picker__calendar(class=calendarClasses)
      .date-picker__wrapper-buttons
        button.date-picker__button.js-date-picker__button(type='button')= buttons[0]
        button.date-picker__button.js-date-picker__button(type='button')= buttons[1]
