include ../button/button.pug

mixin date-picker(props)
  -
    const {
      dates = [],
      isActive = false,
      isSmall = false,
      isRange = false,
      dateFormat,
      dateNavTitles = 'MM yyyy',
      isInline = false,
      selectedDate = [],
      buttons = [],
    } = props;

    let datePickerClasses = '';
    let inputClasses = '';
    let calendarClasses = '';
    let datePickerType;

    if (isSmall) datePickerClasses +=' date-picker_size_small';
    if (isActive) inputClasses += ' date-picker__input_active';
    if (iconText) inputClasses += ' date-picker__input_has-icon';
    if(isRange) datePickerType = 'range';
    if(!isInline) calendarClasses += 'date-picker__calendar_hidden';
    if(isInline) calendarClasses += 'date-picker__calendar_inline';

  .date-picker.js-date-picker(
    class=datePickerClasses,
    data-type=datePickerType,
    data-date-format=dateFormat,
    data-date-nav-titles=dateNavTitles,
    data-inline=isInline.toString(),
    data-selected=selectedDate
  )
    if (isRange)
      .date-picker__range-wrapper
        each item, index in dates
          -
            let { id, text, type = "text", name, placeholder = '', iconText, textState = '' } = item;
            let inputJsClasses = ''
            if (index === 0) {
              inputJsClasses += ' js-date-picker__input-start';
            } else {
              inputJsClasses += ' js-date-picker__input-end';
            }

          label.date-picker__label
            if (text)
              .date-picker__text-wrapper
                h3.date-picker__label= text
                if (textState)
                  p.date-picker__text-state= textState
            .date-picker__input-wrapper
              input.date-picker__input.js-date-picker__input(
                id=id,
                class=inputClasses + inputJsClasses,
                type=type,
                placeholder=placeholder,
                name=name,
                readonly
              )
              if (iconText)
                button.date-picker__icon= iconText
    else if (!isInline)
      - let { id, text, type = "text", name, placeholder = "", iconText, textState } = dates[0];
      label.date-picker__label
        if (text)
          .date-picker__text-wrapper
            h3.date-picker__label= text
            if (textState)
              p.date-picker__text-state= textState
        .date-picker__input-wrapper
          input.date-picker__input.js-date-picker__input.js-date-picker__input-single(
            id=id,
            class=inputClasses,
            type=type,
            placeholder=placeholder,
            name=name,
            readonly
          )
          if (iconText)
            button.date-picker__icon= iconText

    .date-picker__calendar.js-date-picker__calendar(class=calendarClasses)
      .date-picker__buttons-wrapper
        each item in buttons
          - const { isButton, text, theme } = item;
          +button({isButton, text, theme})
