include ../text-field/text-field.pug
include ../button/button.pug

mixin dropdown(props)
  -
    const {
      isOpen = false,
      isSmall = false,
      hasButtons = false,
      value = '',
      text= '',
      id= '',
      type = 'text',
      name,
      iconText= '',
      themeIcon = '',
      textState = '',
      hasDropdown = false,
      list,
      hasHideButtonCleans = false,
      readonly = true,
      defaultValue = '',
      commonWord,
      buttons = [],
    } = props;

    let dropdownClasses = '';
    let menuClasses = '';
    let buttonMenuClasses = '';

    if(isSmall) dropdownClasses += ' dropdown_size_small';
    if(isSmall) menuClasses += ' dropdown__menu_size_small';
    if(isOpen) menuClasses += ' dropdown__menu_active';
    if(hasHideButtonCleans) buttonMenuClasses += ' dropdown__button-menu_hide';

  .dropdown.js-dropdown(
    class=dropdownClasses,
    data-type=typeData,
    data-default-value=defaultValue,
    data-common-word=commonWord
  )
    +text-field({ isOpen, size, id, type, value, name, iconText, themeIcon, textState, hasDropdown, text, readonly })
    .dropdown__menu.js-dropdown__menu(class=menuClasses)
      ul.dropdown__list
        each item in list
          -
            let { value = '0', text, name, declension } = item;
            let buttonDecreaseClasses = '';
            if(value === "0") buttonDecreaseClasses += " dropdown__button_no-active"

          li.dropdown__item.js-dropdown__item(data-declension=declension)
            p.dropdown__text= text
            .dropdown__input-wrapper
              button.dropdown__button.js-dropdown__button.dropdown__button_decrease.js-dropdown__button_decrease(
                class=buttonDecreaseClasses,
                type='button'
              ) -
              input.dropdown__input.js-dropdown__input(value=value, name=name, readonly)
              button.dropdown__button.dropdown__button_increase.js-dropdown__button.js-dropdown__button_increase(
                type='button'
              ) +
      if (hasButtons)
        .dropdown__button-menu-wrapper
          .dropdown__button-menu.js-dropdown__button-menu(class=buttonMenuClasses)
            +button(buttons[0])
          .dropdown__button-menu
            +button(buttons[1])
