include ../text-field/text-field.pug

mixin dropdown({ isOpen, size, hasButtons, value, text, state, id, type, name, iconText, themeIcon, textState, hasDropdown, list, hasHideButtonCleans, readonly = true, defaultValue, commonWord })
  -
    let dropdownClass = '';
    let menuClass = '';
    let buttonCleansClass = '';

    let sizeSetting = ['small'];

    if(sizeSetting.includes(size)) dropdownClass += ' dropdown_size_' + size;
    if(sizeSetting.includes(size)) menuClass += ' dropdown__menu_size_' + size;
    if(isOpen) menuClass += ' dropdown__menu_active';
    if(hasHideButtonCleans) buttonCleansClass += ' dropdown__button-menu_hide';



  .dropdown.js-dropdown(
    class=dropdownClass,
    data-type=typeData,
    data-default-value=defaultValue,
    data-common-word=commonWord
  )
    +text-field({ isOpen, size, id, type, value, name, iconText, themeIcon, textState, hasDropdown, text, readonly })
    .dropdown__menu.js-dropdown__menu(class=menuClass)
      ul.dropdown__list
        each item in list
          -
            let { value, text, name, declension } = item;
            let buttonDecreaseClass = '';
            if(value === "0") buttonDecreaseClass += " dropdown__button_no-active"

          li.dropdown__item.js-dropdown__item(data-declension=declension)
            p.dropdown__text= text
            .dropdown__wrapper-input
              button.dropdown__button.js-dropdown__button.dropdown__button_decrease.js-dropdown__button_decrease(
                class=buttonDecreaseClass,
                type='button'
              ) -
              input.dropdown__input.js-dropdown__input(value=value, name=name, readonly)
              button.dropdown__button.dropdown__button_increase.js-dropdown__button.js-dropdown__button_increase(
                type='button'
              ) +
      if (hasButtons)
        .dropdown__wrapper-button-menu
          button.dropdown__button-menu.dropdown__button-menu_cleans.js-dropdown__button-menu_cleans(
            class=buttonCleansClass,
            type='button'
          ) очистить
          button.dropdown__button-menu.dropdown__button-menu_complete.js-dropdown__button-menu_complete(
            type='button'
          ) применить
