include ../text-field/text-field.pug

mixin dropdown__item(object)
  - var itemsRoom = [{text: 'спальни', value: '2', tabindex: 2}, {text: 'кровати', value: '2', tabindex: 3}, {text: 'ванные комнаты', value: '0', tabindex: 4}];
  - var itemsPeople = [{text: 'взрослые', value: '2', tabindex: 2}, {text: 'дети', value: '1', tabindex: 3}, {text: 'младенцы', value: '0', tabindex: 4}];
  if (object.isNullPeople)
    - var itemsPeople = [{text: 'взрослые', value: '0', tabindex: 2}, {text: 'дети', value: '0', tabindex: 3}, {text: 'младенцы', value: '0', tabindex: 4}];

  each item in object.isItemsRoom ? itemsRoom : itemsPeople
    - var state = item.value == 0 ? " dropdown__button--no-active" : "";
    .dropdown__item
      p.dropdown__text= item.text
      .dropdown__wrapper-input
        if (object.isItemsRoom)
          button(class="dropdown__button dropdown__button--decrease" + state, type='button') -
          input.dropdown__input(value=item.value, tabindex=item.tabindex)
          button.dropdown__button.dropdown__button--increase(type='button') +
        else
          button(class="dropdown__button dropdown__button-people--decrease" + state, type='button') -
          input.dropdown__input(value=item.value, tabindex=item.tabindex)
          button.dropdown__button.dropdown__button-people--increase(type='button') +

mixin dropdown(object)
  - var { stateMenu, size } = object;
  - stateMenu = stateMenu ? " dropdown__menu--" + stateMenu : "";
  - var sizeDropdown = size ? " dropdown--" + size : "";
  - var sizeMenu = size ? " dropdown__menu--" + size : "";

  div(class="dropdown" + sizeDropdown)
    +text-field(object)
    div(class="dropdown__menu" + stateMenu + sizeMenu)
      +dropdown__item(object)
      if (object.isButtonMenu)
        .dropdown__wrapper-button-menu
          button.dropdown__button-menu.dropdown__button-menu--cleans очистить
          button.dropdown__button-menu.dropdown__button-menu--complete применить
