mixin price-list({ itemList, description, price })
  ul.price-list
    each item in itemList
      - const { isIcon, description, price } = item;
      li.price-list__item
        if (isIcon)
          .price-list__wrapper-text
            p.price-list__text= description
            i.price-list__icon i
          p.price-list__text= price + "\u{20BD}"
        else
          p.price-list__text= description
          p.price-list__text= price + "\u{20BD}"
    .price-list__full-price
      h2.price-list__text.price-list__text--big= description
      p.price-list__text.price-list__text--big= price + "\u{20BD}"
