mixin price-list({ list, description, price })
  ul.price-list
    each item in list
      - const { hasIcon, description, price } = item;
      li.price-list__item
        if (hasIcon)
          .price-list__text-wrapper
            p.price-list__text= description
            i.price-list__icon i
          p.price-list__text= price + "\u{20BD}"
        else
          p.price-list__text= description
          p.price-list__text= price + "\u{20BD}"
    .price-list__full-price
      h2.price-list__text.price-list__text_size_big= description
      p.price-list__text.price-list__text_size_big= price + "\u{20BD}"
