mixin checkbox-list({ state, text })
    - var itemsList = [{text: "Завтрак", id: "1"},{text: "Письменный стол", id: "2", isChecked: true},{text: "Стул для кормления", id: "3", isChecked: true},{text: "Кроватка", id: "4", isChecked: true},{text: "Телевизор", id: "5"},{text: "Шампунь", id: "6"},{text: "Телевизор", id: "7"},{text: "Шампунь", id: "8"}];
    - state = (state ? "checkbox-list__items--" + state : "");
    - var stateIcon = (state ? "checkbox-list__icon--" + state : "");

    .checkbox-list
        header.checkbox-list__wrapper-header
            h3(class="checkbox-list__title")=text
            button(class="checkbox-list__icon " + stateIcon)="expand_more"
            
        ul(class="checkbox-list__items " + state)
            for item in itemsList
             - var { id, text } = item;
             - id = id ? "checkbox-list-" + id : "";
                li.checkbox-list__wrapper-checkbox
                    if(item.isChecked)
                        input(class="checkbox-list__checkbox" id=id type="checkbox" checked)
                    else
                        input(class="checkbox-list__checkbox" id=id type="checkbox")

                    label(class="checkbox-list__label" for=id : "")=text