mixin checkbox-list({ state, text, checkboxList })
  - state = state ? "checkbox-list__items--" + state : "";
  - const stateIcon = state ? "checkbox-list__icon--" + state : "";

  .checkbox-list
    header.checkbox-list__wrapper-header
      h3.checkbox-list__title= text
      button(class="checkbox-list__icon " + stateIcon)= "expand_more"

    ul(class="checkbox-list__items " + state)
      each item in checkboxList
        - let { id, text } = item;
        - id = id ? "checkbox-list-" + id : "";
          li.checkbox-list__wrapper-checkbox
            if (item.isChecked)
              input.checkbox-list__checkbox(id=id, type='checkbox', checked)
            else
              input.checkbox-list__checkbox(id=id, type='checkbox')

            label.checkbox-list__label(for=id)= text
