extends ~Layout/main-layout.pug

block variables
  include ~Blocks/col-4/col-4.pug
  include ~Blocks/text-field/text-field.pug
  include ~Blocks/dropdown/dropdown.pug
  include ~Blocks/date-picker/date-picker.pug
  include ~Blocks/checkbox-list/checkbox-list.pug
  include ~Blocks/icon-text-list/icon-text-list.pug
  include ~Blocks/checkbox-buttons/checkbox-buttons.pug
  include ~Blocks/radio-buttons/radio-buttons.pug
  include ~Blocks/toggle/toggle.pug
  include ~Blocks/like-button/like-button.pug
  include ~Blocks/rate-button/rate-button.pug
  include ~Blocks/range-slider/range-slider.pug
  include ~Blocks/button/button.pug
  include ~Blocks/pagination/pagination.pug
  include ~Blocks/bullet-list/bullet-list.pug
  include ~Blocks/review/review.pug

  - data = require("./ui-kits-form.json");

  - const pageTitle = "Form Elements";
  - const classMain = "ui-kits-form";
  - const classImg = "ui-kits-form__img";
  - const mainLink = "index.html";
  - headerProps = false;
  - footerProps = false;

block content
  +page({})
    +center-block
      +col-4
        .ui-kits-form__text-field
          +text-field(data.textFieldDefault)
        .ui-kits-form__text-field-hover
          +text-field(data.textFieldHover)
        .ui-kits-form__dropdown
          +dropdown(data.dropdownDefaultPeople)
        .ui-kits-form__masked
          +text-field(data.textFieldMasked)
        .ui-kits-form__date-picker
          +date-picker(data.datePickerRange)
        .ui-kits-form__filter-date
          +date-picker(data.datePickerFilter)
        .ui-kits-form__subscription
          +text-field(data.textFieldSubscription)
        .ui-kits-form__dropdown-room
          +dropdown(data.dropdownRoom)
        .ui-kits-form__dropdown-room-expanded
          +dropdown(data.dropdownRoomExpanded)
        .ui-kits-form__checkbox-list
          +checkbox-list(data.checkboxList)
        .ui-kits-form__checkbox-list-open
          +checkbox-list(data.checkboxListOpen)
      .ui-kits-form__col-4
        +checkbox-buttons(data.checkboxButtons)
        .ui-kits-form__radio-buttons
          h3.ui-kits-form__title.ui-kits-form__title_radio-button= data.titleRadioButton
          +radio-buttons(data.radioButtons)
        .ui-kits-form__toggle
          h3.ui-kits-form__title= data.titleToggle
          each item in data.toggleList
            .ui-kits-form__toggle-item
              +toggle(item)
        .ui-kits-form__like-button
          h3.ui-kits-form__title.ui-kits-form__title_like-button= data.titleLikeButton
          .ui-kits-form__like-button-items
            each item in data.likeButtonList
              .ui-kits-form__like-button-item
                +like-button(item)
        .ui-kits-form__rate-button
          h3.ui-kits-form__title= data.titleRate
          .ui-kits-form__rate-button-items
            each item in data.rateButtonList
              .ui-kits-form__rate-button-item
                +rate-button(item)
        .ui-kits-form__dropdown-people
          +dropdown(data.dropdownDefaultPeopleOpen)
        .ui-kits-form__rich-checkbox-buttons
          +checkbox-buttons(data.checkboxButtonsRich)
      +col-4
        +range-slider(data.rangeSlider)
        .ui-kits-form__buttons
          h3.ui-kits-form__title= data.titleButtons
          each list in data.buttonList
            .ui-kits-form__buttons-items
              each item in list
                .ui-kits-form__buttons-item
                  +button(item)
          +button(data.buttonLarge)
        .ui-kits-form__pagination
          h3.ui-kits-form__title= data.titlePagination
          +pagination(data.pagination)
        .ui-kits-form__dropdown-people-expanded
          +dropdown(data.dropdownPeopleExpanded)
        .ui-kits-form__bullet-list
          h3.ui-kits-form__title= data.titleBulletList
          +bullet-list(data.bulletList)
  +page({})
    +center-block
      .ui-kits-form__col-8
        +icon-text-list(data.iconTextList)
        .ui-kits-form__review
          +review(data.review)
