mixin range-slider(object, rangeConfig)
  .range-slider
    .range-slider__header
      h3.range-slider__title= object.text

    input.range-slider__input(
      type='text',
      value='',
      data-min=rangeConfig.dataMin,
      data-max=rangeConfig.dataMax,
      data-from=rangeConfig.dataFrom,
      data-to=rangeConfig.dataTo
    )
