mixin range-slider({ text, rangeConfig })
  - const { dataMin, dataMax, dataFrom, dataTo } = rangeConfig;
  .range-slider
    .range-slider__header
      h3.range-slider__title= text

    input.range-slider__input.js-range-slider__input(
      type='text',
      value='',
      data-min=dataMin,
      data-max=dataMax,
      data-from=dataFrom,
      data-to=dataTo
    )
