mixin pie-chart({ img, votes, votesText, pieChartList })
  .pie-chart.js-pie-chart
    .pie-chart__wrapper-canvas
      canvas.pie-chart__canvas.js-pie-chart__canvas
      .pie-chart__wrapper-text-diagram
        p.pie-chart__text-diagram.pie-chart__text-diagram_big= votes
        p.pie-chart__text-diagram= votesText

    ul.pie-chart__list
      each item in pieChartList
        -
          let { theme, text, colorFirst, colorSecond, votes } = item;
          let itemClass = '';
          const themeSetting = ["great", "good", "norm", "disappoint"];

          if (themeSetting.includes(theme)) itemClass += " pie-chart__item_" + theme;

        li.pie-chart__item.js-pie-chart__item(
          class=itemClass,
          data-votes=votes,
          data-color-first=colorFirst,
          data-color-second=colorSecond
        )= text
