mixin toggle({ id, text, name, isChecked })
  - id = id ? "toggle-" + id : "";

  .toggle
    input.toggle__input(id=id, name=name, type='checkbox', checked=isChecked)

    label.toggle__label(for=id)
    label.toggle__text(for=id)= text
