include ../rate-button/rate-button.pug

mixin hotel-card({ number, list, price, isLux, link, reviews, rating, text, carousel })
  -
    const altText = "hotel-" + number;
    const { typeText, period, reviewText } = text;
    const { dataNav, dataItems, dataDots } = carousel;


  .hotel-card
    .hotel-card__slider
      ul.owl-carousel.js-owl-carousel(
        data-nav=dataNav.toString(),
        data-items=dataItems,
        data-dots=dataDots.toString()
      )
        each item in list
          li.hotel-card__item
            a.hotel-card__link(href=link)
              img.hotel-card__img(src=item.img, alt=altText)

    .hotel-card__description
      .hotel-card__head-wrapper
        .hotel-card__items-number
          p.hotel-card__number.hotel-card__number_size_small №
            span.hotel-card__number.hotel-card__number_size_big= number
            if (isLux)
              span.hotel-card__number.hotel-card__number_theme_primary-color= typeText
        .hotel-card__items-price
          span.hotel-card__text.hotel-card__text_size_bold= price
          p.hotel-card__text= period

      .hotel-card__reviews-wrapper
        .hotel-card__rate-button
          +rate-button({ rating })
        .hotel-card__reviews
          span.hotel-card__text.hotel-card__text_size_bold= reviews
          p.hotel-card__text.hotel-card__text_size_big= reviewText
