mixin checkbox-buttons(object)
    if(object.rich)
        - var itemsList = [{text: "Ширина коридоров в номере не менее 91 см.", id: "4", title: "Широкий коридор"}, {text: "На 1 этаже вас встретит специалист и проводит до номера.", id: "5", title: "Помощник для инвалидов"}]
    else
        - var itemsList = [{text: "Можно курить", id: "1"}, {text: "Можно с питомцами", id: "2", checked: "true"}, {text: "Можно пригласить гостей (до 10 человек)", id: "3", checked: "true"}];

    .checkbox-buttons
        header.checkbox-buttons__wrapper-header
            h3(class="checkbox-buttons__title")=object.text
            
        div(class="checkbox-buttons__items ")
            for item in itemsList
                .checkbox-buttons__wrapper-checkbox
                    if(item.checked)
                        input(class="checkbox-buttons__checkbox" id=item.id ? "checkbox-buttons-" + item.id : "" type="checkbox" checked)
                    else
                        input(class="checkbox-buttons__checkbox" id=item.id ? "checkbox-buttons-" + item.id : "" type="checkbox")

                    if(object.rich)
                        .checkbox-buttons__wrapper-text
                            p(class="checkbox-buttons__text")=item.title
                            label(class="checkbox-buttons__label checkbox-buttons__label--small" for=item.id ? "checkbox-buttons-" + item.id : "")=item.text
                    else
                        label(class="checkbox-buttons__label" for=item.id ? "checkbox-buttons-" + item.id : "")=item.text