mixin checkbox-buttons({ caption, isRich, checkboxButtons })
  .checkbox-buttons
    .checkbox-buttons__wrapper-header
      h3.checkbox-buttons__title= caption

    ul.checkbox-buttons__items
      each item in checkboxButtons
        - let checkboxWrapperCheckboxClass = "";
        - let { text, id, title, name, isChecked = false } = item;
        - id = id ? "checkbox-buttons-" + id : "";

        - if (isRich) checkboxWrapperCheckboxClass += "checkbox-buttons__wrapper-checkbox_rich";

        li.checkbox-buttons__wrapper-checkbox(class=checkboxWrapperCheckboxClass)
          input.checkbox-buttons__checkbox(id=id, name=name, type='checkbox', checked=isChecked)

          if (isRich)
            label.checkbox-buttons__wrapper-text(for=id)
              h3.checkbox-buttons__text= title
              p.checkbox-buttons__info.checkbox-buttons__info_small= text
          else
            label.checkbox-buttons__info(for=id)= text
