mixin dropdown-item({ isItemsRoom, itemsList })
  each item in itemsList
    - let { value, text, name } = item;
    - const buttonStateClass = value === "0" ? " dropdown__button_no-active" : "";
    li.dropdown__item
      p.dropdown__text= text
      .dropdown__wrapper-input
        if (isItemsRoom)
          button(
            class="dropdown__button js-dropdown__button js-dropdown__button js-dropdown__button_decrease dropdown__button_decrease" + buttonStateClass,
            type='button'
          ) -
          input.dropdown__input.js-dropdown__input(value=value, name=name)
          button.dropdown__button.dropdown__button_increase.js-dropdown__button.js-dropdown__button_increase(
            type='button'
          ) +
        else
          button(
            class="dropdown__button js-dropdown__button js-dropdown__button-people_decrease dropdown__button-people_decrease" + buttonStateClass,
            type='button'
          ) -
          input.dropdown__input.js-dropdown__input(value=value, name=name)
          button.dropdown__button.dropdown__button-people_increase.js-dropdown__button.js-dropdown__button-people_increase(
            type='button'
          ) +
