include ../price-list/price-list.pug
include ../date-picker/date-picker.pug
include ../dropdown/dropdown.pug
include ../button/button.pug

mixin reservation({ number, price, link, text, datePicker, dropdown, priceList, buttonSubmit })
  - const { typeText, period } = text;

  form.reservation(action=link)
    .reservation__head-wrapper
      .reservation__items-number
        p.reservation__number.reservation__number_size_small №
          span.reservation__number.reservation__number_size_big= number
          span.reservation__number.reservation__number_theme_primary-color= typeText
      .reservation__items-price
        span.reservation__price= price
        p.reservation__days= period
    .reservation__date-picker
      +date-picker(datePicker)
    .reservation__dropdown
      +dropdown(dropdown)
    .reservation__price-list
      +price-list(priceList)
    .reservation__button
      +button(buttonSubmit)
