mixin like-button({ id, number, name, isChecked })
  -
    let labelClasses = '';
    if(isChecked) labelClasses += ' like-button__label_active';

  .like-button.js-like-button
    label.like-button__label.js-like-button__label(class=labelClasses)
      input.like-button__checkbox.js-like-button__checkbox(
        name=name,
        type='checkbox',
        checked=isChecked
      )
      p.like-button__icon
      p.like-button__number.js-like-button__number= number
