include ../button/button.pug
include ../page/page.pug
include ../center-block/center-block.pug

mixin header({ list, isSmall, textLogin, loginButton, loginLink, registerButton })
  header.header.js-header
    +page({ isSmall: true })
      +center-block({})
        a(href=loginLink) 
          img.header__logo(src='img/logo.svg', alt='logo')

        .header__menu-wrapper
          .header__burger.js-header__burger menu
          nav.header__menu.js-header__menu
            ul.header__list
              each item in list
                -
                  let { isActive, link, text, hasIcon, subList } = item;
                  let itemClasses = '';
                  let linkClasses = '';
                  let iconClasses = '';
                  let ButtonWrapperClasses = '';

                  if(isSmall) itemClasses += ' header__item_size_small';
                  if(isSmall) iconClasses += ' header__icon_size_small';
                  if(isSmall) ButtonWrapperClasses += ' header__button-wrapper_size_small';
                  if(isActive) linkClasses += ' header__link_active';


                li.header__item(class=itemClasses)
                  a.header__link(class=linkClasses, href=link)= text
                    if (subList)
                      i.header__icon(class=iconClasses) expand_more
                  if (subList)
                    ul.header__sub-menu
                      each subItem in subList
                        li.header__subitem
                          a.header__link(href=subItem.link)= subItem.text

          if (textLogin)
            .header__login
              p.header__text-login= textLogin
          else
            .header__button-wrapper(class=ButtonWrapperClasses)
              .header__button
                +button(loginButton)
              .header__button
                +button(registerButton)
