include ../button/button.pug
include ../page/page.pug
include ../center-block/center-block.pug

mixin header({ list, size, textLogin, loginButton, loginLink, registerButton })
  header.header.js-header
    +page({ state: "small" })
      +center-block({})
        a(href=loginLink) 
          img.header__logo(src='img/logo.svg', alt='logo')

        .header__wrapper-menu
          .header__burger.js-header__burger menu
          nav.header__menu.js-header__menu
            ul.header__list
              each item in list
                -
                  let { state, link, text, hasIcon, subList } = item;
                  let itemClass = '';
                  let linkClass = '';
                  let iconClass = '';
                  let wrapperButtonClass = '';
                  const sizeSetting = ['small'];
                  const stateSetting = ['active'];

                  if(sizeSetting.includes(size)) itemClass += ' header__item_' + size;
                  if(sizeSetting.includes(size)) iconClass += ' header__icon_' + size;
                  if(sizeSetting.includes(size)) wrapperButtonClass += ' header__wrapper-button_' + size;
                  if(stateSetting.includes(state)) linkClass += ' header__link_' + state;


                li.header__item(class=itemClass)
                  a.header__link(class=linkClass, href=link)= text
                    if (subList)
                      i.header__icon(class=iconClass) expand_more
                  if (subList)
                    ul.header__sub-menu
                      each subItem in subList
                        li.header__subitem
                          a.header__link(href=subItem.link)= subItem.text

          if (textLogin)
            .header__login
              p.header__text-login= textLogin
          else
            .header__wrapper-button(class=wrapperButtonClass)
              .header__button
                +button(loginButton)
              .header__button
                +button(registerButton)
